@media only screen and (max-width:1024px) {
	.money-horse-section .game_screen .participants_container {
		height: 286px;
	}
	.money-horse-section .game_screen .participants_container .participants {
		width: 100%;
	}
	.money-horse-section .game_screen .participant {
		width: 30%;
		height: 132px;
	}
	.money-horse-section .screen .avatar_background {
		width: 120px;
		height: 120px;
		background-size: cover;
	}
	.money-horse-section .screen .family0 .avatar {
		background-position: -132px 0;
		background-size: cover;
	}
	.money-horse-section .screen .family1 .avatar {
		background-position: -252px 0;
		background-size: cover;
	}
	.money-horse-section .screen .family2 .avatar {
		background-position: -372px 0;
		background-size: cover;
	}
	.money-horse-section .screen .family3 .avatar {
		background-position: -488px 0;
		background-size: cover;
	}
	.money-horse-section .screen .family4 .avatar {
		background-position: -610px 0;
		background-size: cover;
	}
	.money-horse-section .screen .family5 .avatar {
		background-position: -732px 0;
		background-size: cover;
	}

	.money-horse-section .game_screen .participant .name {
		left: 112px;
		top: 40px;
		width: 136px;
		font-size: 16px;
	}
	.money-horse-section .game_screen .participant .coeff {
		font-size: 20px;
	}
	.money-horse-section .game_screen .participant .coeff_container {
		left: 114px;
		top: 58px;
		width: 110px;
	}
	.money-horse-section .game_screen .participant .bet {
		left: 40px;
		top: 84px;
		width: 178px;
		height: 34px;
	}
	.money-horse-section .game_screen .participant .bet .create {
		left: 72px;
		top: 5px;
	}
	.money-horse-section .game_screen .participant .bet .create .value {
		width: 100px;
		height: 20px;
	}
	.money-horse-section input {
		font: 16px "Scada";
	}
	.money-horse-section .game_screen .participant .bet .create.has_value .value {
		width: 98px;
	}
	.money-horse-section .game_screen .participant .bet .create .confirm {
		width: 24px;
		height: 24px;
		left: 106px;
	}
	.money-horse-section .button {
		width: 200px;
		font: bold 20px "Scada";
		margin: 0 10px;
		padding: 14px 0;
		background-size: contain;
		background-repeat: no-repeat;
	}

}

@media screen and (max-width:768px) {
	.money-horse-section .panel {
		height: 80px;
		background-size: contain;
	}
	.money-horse-section .panel .title {
		font-size: 22px;
		top: 8px;
	}
	.money-horse-section .panel .limits {
		font-size: 16px;
	}
	.money-horse-section .panel .menu_items {
		min-width: 170px;
		padding: 5px 20px;
		top: 44px;
	}
	.money-horse-section .panel .menu {
		font-size: 22px;
	}
	.money-horse-section .game_screen .participant {
		width: 33%;
		height: 100px;
	}
	.money-horse-section .game_screen .participants_container {
		height: 230px;
	}
	.money-horse-section .screen .avatar_background {
		width: 90px;
		height: 90px;
	}
	.money-horse-section .screen .family0 .avatar {
		background-position: -100px 0;
	}
	.money-horse-section .screen .family1 .avatar {
		background-position: -190px 0;
	}
	.money-horse-section .screen .family2 .avatar {
		background-position: -282px 0;
	}
	.money-horse-section .screen .family3 .avatar {
		background-position: -371px 0;
	}
	.money-horse-section .screen .family4 .avatar {
		background-position: -460px 0;
	}
	.money-horse-section .screen .family5 .avatar {
		background-position: -462px 0;
	}

	.money-horse-section .game_screen .participant .name {
		left: 72px;
		top: 26px;
		width: 110px;
		font-size: 15px;
	}
	.money-horse-section .game_screen .participant .coeff_container {
		left: 72px;
		top: 44px;
		width: 107px;
	}
	.money-horse-section .game_screen .participant .coeff {
		font-size: 18px;
	}
	.money-horse-section .game_screen .participant .bet {
		left: 26px;
		top: 64px;
		width: 160px;
		height: 28px;
	}
	.money-horse-section .game_screen .participant .bet .create {
		left: 47px;
		top: 2px;
	}
	.money-horse-section input {
		font: 14px "Scada";
	}
	.money-horse-section .game_screen .participant .bet .create .value {
		width: 108px;
	}
	.money-horse-section .game_screen .participant .bet .create.has_value .value {
		width: 66px;
	}
	.money-horse-section .game_screen .participant .bet .create .confirm {
		left: 72px;
		height: 22px;
		line-height: 20px;
	}
	.money-horse-section .game_screen .participant.has_bet .bet .view {
		font-size: 12px;
	}
	.money-horse-section .game_screen .participant.has_bet .bet .view .value {
		right: 64px;
		top: 7px;
	}
	.money-horse-section .game_screen .participant.has_bet .bet .view .prize {
		top: 7px;
	}
	.money-horse-section .button {
		width: 170px;
		font: bold 16px "Scada";
		margin: 0 5px;
		padding: 15px;
	}
	.money-horse-section .game_screen .receipts {
		font-size: 14px;
	}
	.money-horse-section .game_screen .receipts td {
		padding: 4px 5px;
	}
	.money-horse-section .finish_screen .receipts {
		margin: 10px auto;
		font-size: 14px;
	}
	.money-horse-section .game_screen .receipts_container {
		overflow-y: hidden;
	}

	.money-horse-section .finish_screen .winner .title {
		font-size: 22px;
	}

	.screen.finish_screen .active {

	}
	.active .winner {
		height: 128px!important;
	}
	.active .money-horse-section .finish_screen .receipts {
		margin: 0;
	}
}

@media screen and (orientation:landscape) and (max-width:900px) {
	.money-horse-section .panel {
		height: 68px;
		background-size: contain;
	}
	.money-horse-section .panel .title {
		font-size: 22px;
	}
	.money-horse-section .panel .limits {
		right: 60px;
		top: 3px;
		font-size: 14px;
	}
	.money-horse-section .panel .toggle_menu {
		width: 38px;
		height: 38px;
	}
	.money-horse-section .panel .menu_items {
		top: 38px;
		padding: 10px 15px;
	}
	.money-horse-section .game_screen .participant {
		width: 33%;
		height: 94px;
	}
	.money-horse-section .screen .avatar_background {
		width: 90px;
		height: 90px;
	}
	.money-horse-section .screen .family0 .avatar {
		background-position: -90px 0;
	}
	.money-horse-section .screen .family1 .avatar {
		background-position: -180px 0;
	}
	.money-horse-section .screen .family2 .avatar {
		background-position: -270px 0;
	}
	.money-horse-section .screen .family3 .avatar {
		background-position: -358px 0;
	}
	.money-horse-section .screen .family4 .avatar {
		background-position: -450px 0
	}
	.money-horse-section .screen .family5 .avatar {
		background-position: -540px 0;
	}
	.money-horse-section .game_screen .participant .name {
		left: 86px;
		top: 24px;
		width: 135px;
	}
	.money-horse-section .game_screen .participant .coeff_container {
		left: 86px;
		top: 42px;
		width: 130px;
	}
	.money-horse-section .game_screen .participant .bet {
		left: 42px;
		top: 63px;
		width: 178px;
		height: 30px;
	}
	.money-horse-section .game_screen .participant .bet .create {
		left: 44px;
		top: 4px;
	}
	.money-horse-section .game_screen .participants_container {
		height: 210px;
	}
	.money-horse-section .finish_screen .receipts {
		margin: 0;
		font-size: 14px;
		height: 120px;
		overflow: scroll;
		display: block;
	}
	.money-horse-section .game_screen .receipts {
		font-size: 14px;
	}
	.money-horse-section .game_screen .receipts td {
		padding: 4px 5px;
	}
	.money-horse-section .game_screen .receipts_container {
		overflow-y: hidden;
	}

	.money-horse-section .finish_screen .winner .title {
		font-size: 22px;
	}

	.screen.finish_screen .active {

	}
	.active .winner {
		height: 128px!important;
	}
	.active .money-horse-section .finish_screen .receipts {
		margin: 0;
	}

	.money-horse-section .movie_screen .movie_container {
		height: auto;
	}

	.money-horse-section .movie_screen .movie {
		width: 100%!important;
		height: 100vh!important;
		position: relative!important;
		/*top: -76px!important;*/
		border: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.money-horse-section .movie_screen .movie canvas {
		width: 100%!important;
		height: 100%!important;
		max-width: 100vw!important;
		max-height: 100vh!important;
	}
	.money-horse-section .movie_screen.skippable .skip {
		display: block;
		position: absolute;
		left: 10px;
		bottom: 0;
	}
}


@media screen and (orientation:portrait) and (max-width:578px) {
	.money-horse-section .game_screen .participants_container {
		height: 340px;
	}
	.money-horse-section .game_screen .participant {
		width: 49%;
	}
	.money-horse-section .screen .avatar_background {
		width: 94px;
		height: 94px;
	}
	.money-horse-section .game_screen .participant .name,
	.money-horse-section .game_screen .participant .coeff_container {
		left: 86px;
	}
	.money-horse-section .game_screen .participant .bet {
		left: 38px;
		top: 68px;
	}
	.money-horse-section .screen .family1 .avatar {
		background-position: -194px 0;
	}
	.money-horse-section .screen .family2 .avatar {
		background-position: -288px 0;
	}
	.money-horse-section .screen .family3 .avatar {
		background-position: -382px 0;
	}
	.money-horse-section .screen .family4 .avatar {
		background-position: -476px 0;
	}
	.money-horse-section .screen .family5 .avatar {
		background-position: -474px 0;
	}
}
@media screen and (orientation:portrait) and (max-width:400px) {
	.money-horse-section .screen .avatar_background {
		width: 90px;
		height: 90px;
	}
	.money-horse-section .game_screen .participant .bet {
		left: 32px;
		top: 64px;
		width: 146px;
	}
	.money-horse-section .game_screen .participant .name,
	.money-horse-section .game_screen .participant .coeff_container {
		left: 78px;
	}
	.money-horse-section .game_screen .participant .bet .create .value {
		width: 94px;
	}
	.money-horse-section .screen .family0 .avatar {
		background-position: -98px 0;
	}
	.money-horse-section .screen .family1 .avatar {
		background-position: -188px 0;
	}
	.money-horse-section .screen .family2 .avatar {
		background-position: -278px 0;
	}
	.money-horse-section .screen .family3 .avatar {
		background-position: -368px 0;
	}
	.money-horse-section .screen .family4 .avatar {
		background-position: -458px 0;
	}
	.money-horse-section .screen .family5 .avatar {
		background-position: -548px 0;
	}
}


@media screen and (max-width:578px) {

}
@media screen and (max-width:480px) {

}
@media screen and (orientation:portrait) and (max-width:320px) {
	.money-horse-section .panel .title {
		font-size: 18px;
	}
	.money-horse-section .panel .limits {
		font-size: 12px;
	}
	.money-horse-section .panel .toggle_menu {
		width: 40px;
		height: 35px;
	}
	.money-horse-section .panel {
		height: 64px;
	}
	.money-horse-section .panel .menu_items {
		min-width: 130px;
		top: 35px;
	}
	.money-horse-section .panel .menu {
		font-size: 20px;
	}
	.money-horse-section .game_screen .participant .avatar_background {
		top: 5px;
	}
	.money-horse-section .game_screen .participants_container {
		height: 326px;
	}
	.money-horse-section .game_screen .participant {
		width: 50%;
	}
	.money-horse-section .screen .avatar_background {
		width: 78px;
		height: 78px;
	}
	.money-horse-section .game_screen .participant .name {
		left: 76px;
		top: 20px;
		font-size: 12px;
	}
	.money-horse-section .game_screen .participant .coeff_container {
		left: 76px;
		top: 36px;
		width: 84px;
	}
	.money-horse-section .game_screen .participant .bet .create {
		left: 2px;
		top: 2px;
	}
	.money-horse-section .game_screen .participant .bet {
		left: 10px;
		top: 76px;
		width: 146px;
	}
	.money-horse-section .game_screen .participant .bet .create.has_value .value {
		width: 112px;
	}
	.money-horse-section .game_screen .participant .bet .create .confirm {
		left: 118px;
	}
	.money-horse-section .screen .family0 .avatar {
		background-position: -80px 0;
	}
	.money-horse-section .screen .family1 .avatar {
		background-position: -156px 0;
	}
	.money-horse-section .screen .family2 .avatar {
		background-position: -234px 0;
	}
	.money-horse-section .screen .family3 .avatar {
		background-position: -313px 0;
	}
	.money-horse-section .screen .family4 .avatar {
		background-position: -388px 0;
	}
	.money-horse-section .screen .family5 .avatar {
		background-position: -468px 0;
	}
}